[mysqld]
bind-address = mysql-server
user = mysql
pid-file	= /var/run/mysqld/mysqld.pid
socket		= /var/run/mysqld/mysqld.sock
datadir		= /var/lib/mysql
log-error	= /var/log/mysql/error.log
symbolic-links=0

local-infile=0
server-id=1
log_bin=/logs/binlog/mysql-bin
default_password_lifetime=90

plugin-load-add=validate_password.so
validate-password=OFF
validate_password_length=14
validate_password_mixed_case_count=1
validate_password_number_count=1
validate_password_special_char_count=1
validate_password_policy=MEDIUM

master_info_repository=TABLE
wait_timeout=28801
interactive_timeout=28801

expire_logs_days=2
sql_mode=STRICT_ALL_TABLES,NO_ENGINE_SUBSTITUTION,NO_AUTO_CREATE_USER


[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock